div{
    padding: 10px;
}

#header {
    background-color: green;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
}

#container {
    font-family: 'Comic Neue', cursive;    
}

#content {
    background-color: orange;
    display: flex;
    justify-content: space-evenly;
}

#main {
    background-color: blue;
    width: 600px;
}

#nav {
    background-color: purple;
    width: 180px;
}

#form {
    background-color: gray;
}

#footer {
    background-color: black;
    color: white;
}

.title{
    font-size: 25px;
}

.description{
    font-size: 16px;
}

select {
    width: 300px;
    height: 30px;
    margin: 10px 250px 20px; 
}

#checkbox-area{
    width: 450px;
    margin: auto;
}

table, th, td {
    border: 1px solid black;
}

tr:nth-of-type(2n) {
    background-color: rgb(179, 176, 176);
}

tr:nth-of-type(2n + 1) {
    background-color: rgb(104, 192, 22);
}

tr:nth-of-type(1){
    background: white;
}