.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






/* my css */

.layout {
    height: 100%;

}

.nav {
    height: 100px;
    border: 1px solid #ccc;
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px;
}

.header {
    height: 100px;
    border: 1px solid #ccc;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg");
}

.content {
    width: 100%;
    padding: 30px;
}

.footer {
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}






